- Write code in a way that is easy to understand and follow.
- Make the code as clead and short and simple as possible.
- Use comments to explain the code.
- Use meaningful variable and function names.
- Ensure that the no unnecessary boiler code is written.
- Ensure that the code is well-organized and easy to understand.