While doing developemnet, make sure to reference the [project plan](./docs/project-plan.md)
After making any changes make sure to update the [project plan](./docs/project-plan.md) with the changes.
Ensure that all new files are added to the [project plan](./docs/project-plan.md)
Ensure that all steps which change the projet are added to the [project plan](./docs/project-plan.md)
